<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #saver{
            font-size: 30px;
            margin-left: 150px;
        }
        *{
        margin: 8px;
      }
      .user{
        display: flex;
        align-items: center;
      }
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .forms{
        display: grid;
        grid-template-columns: 3fr 1fr;
      }
      .answers{
        border-right: 1px solid black;
      }
    </style>
</head>
<body>
    <div class="user">
        <div class="pic"><img src="{{question.user.image.url}}" alt=""></div>
        <div class="name">@{{question.user.user}}
            <p>{{question.created_time}} </p>
        </div>
      </div>
    <p>{{question}}</p>
    <hr>
    <div class="forms">
        <div class="answers">
            {% for i in answers %}
    <div class="user">
        <div class="pic"><img src="{{i.user.image.url}}" alt="{{i.user.image.url}}"></div>
        <div class="name">@{{i.user.user}}</div>
      </div>
      {{i.created|timesince}} oldin 
      <p> {{i}}</p>
      <hr>
    {% endfor %}
    <form action="" method="post">
        {% csrf_token %}
        <textarea name="answer" id="answer" cols="60" rows="10" placeholder="Answer"></textarea>
        <p> <input type="submit" value="Saqlash" id="saver"> </p>
    </form>
        </div>
        <div class="otherquestions">
            {% for i in allquestions %}
              {% if not i == question %}
              <p><a href="{% url 'room' i.id %}">{{i}}</a></p>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</body>
</html>